.mainContent {
  display: flex;
}

.boardNameContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #32344a;
}

.boardName {
  border-radius: 4px;
  padding-left: 8px;
  display: flex;
  align-items: center;
  color: #7aa2f7;
  font-weight: bold;
  height: 48px;

  text-decoration: none;
}

.boardName:hover {
  background-color: #7aa2f742;
}

/* Keep same color on hover */
.boardSelected,
.boardSelected:hover {
  background-color: #7aa2f7;
  color: black;
}

.scoreContainer {
  flex-grow: 4;
}

table {
  width: 100%;
  /* Needed for border to work in tr */
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #ddd;
}

th {
  width: 150px;
}

td {
  text-align: center;
  height: 24px;
}

.selectedScore {
  background-color: #7aa2f742;
}

.currentBoardBanner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 24px;
  border-bottom: 1px solid #ddd;
  padding-top: 4px;
  padding-bottom: 4px;
}

.currentBoardImg {
  border-radius: 8px;
  width: 200px;
  height: 150px;
}

.currentBoardLink {
  position: fixed;
  right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #ad8ee6;
  text-decoration: none;
  font-weight: bold;

  border: 2px solid #ad8ee6;
  border-radius: 6px;

  height: 36px;
  width: 100px;
}

.currentBoardLink:hover {
  color: #ad8ee6;
  background-color: black;
}
