.container {
  position: absolute;
  border: 2px solid black;
  background-color: azure;
  display: flex;
  flex-direction: column;
  transform: translate(30%, -50%);
}

.selection {
  /* background-color: azure; */
  color: black;
  height: 80px;
  width: 80px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.selection:hover {
  background-color: beige;
}
