.links,
.navigation {
  color: #c0caf5;
  text-decoration: none;
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  gap: 8px;
}

.links:visited {
  color: #0db9d7;
}

.links:hover {
  color: #ad8ee6;
}

.container {
  position: sticky;
  z-index: 100;
  top: 0;

  background-color: rgb(26, 25, 25);
  padding: 0 8px 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.characters {
  display: flex;
  align-items: center;
  gap: 8px;
}

.parent {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
}
