.links,
.navigation {
  color: #c0caf5;
  text-decoration: none;
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  gap: 8px;
}

.links:visited {
  color: #0db9d7;
}

.links:hover {
  color: #ad8ee6;
}

.links img {
  height: 48px;
}

.container {
  position: sticky;
  z-index: 100;
  top: 0;

  border-bottom: 2px solid #c0caf5;

  background-color: rgb(26, 25, 25);
  padding: 0 8px 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;

  height: 60px;
}

.characters {
  display: flex;
  align-items: center;
  gap: 8px;
}

.parent {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
}

.characterContainer {
  margin: 0;
  padding: 0;
}

.characterContainer img {
  height: 38px;
  width: 38px;
}

.found {
  opacity: 0.5;
  filter: grayscale(100%);
  border-color: #22c55e;
}

.time {
  margin: 0;
  padding: 0;
  text-align: center;
}

.tickmark {
  position: absolute;
  top: -38px;
  padding-left: 4px;
  color: white;

  font-size: 38px;
  font-weight: 100;
}
