.boardListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.boardLink {
  display: flex;
  justify-content: flex-start;
  padding: 8px 0 8px 8px;
  border-radius: 8px;
  align-items: flex-end;
  width: 80%;
  background-color: #40445e;
  transition: transform 0.3s;
}

.boardLink:hover {
  transform: scale(1.05);
}

.boardImg {
  width: 300px;
  height: 200px;
  border-radius: 8px;
}

.characterImg {
  width: 60px;
  height: 80px;
  border-radius: 8px;
  background-color: black;
  padding: 0 8px 0 8px;
  margin: 0 8px 0 8px;
}
